#include <winresrc.h>
#include <winver.h>

#include "config.hpp"

// This file is UTF-8
#pragma code_page(65001)

// The manifest file enables Windows visual styles, i.e. native look.
// MSVC is capable of autogenerating such manifest and enabling visual styles
// when fed with the correct linker flags, but MinGW is not.
// We are using hand-crafted manifest for both of them.
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "pong.exe.manifest"

IDI_ICON ICON DISCARDABLE "pong.ico"

VS_VERSION_INFO VERSIONINFO
  FILEVERSION    PROJECT_VERSION_COMMA
  PRODUCTVERSION PROJECT_VERSION_COMMA
  FILEFLAGSMASK  0x0L
  FILEFLAGS      0x0L
  FILEOS         VOS_NT_WINDOWS32
  FILETYPE       VFT_APP
  FILESUBTYPE    VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904b0"
    BEGIN
      VALUE "CompanyName",      "Juhani Numminen"
      VALUE "FileDescription",  "A game of pong"
      VALUE "FileVersion",      PROJECT_VERSION
      VALUE "InternalName",     "pong"
      VALUE "LegalCopyright",   "© 2014–2017 Juhani Numminen"
      VALUE "OriginalFilename", "pong.exe"
      VALUE "ProductName",      "Pong"
      VALUE "ProductVersion",   PROJECT_VERSION
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END
